body{
    background-color: black;
    color: white;
}
.button{
    background-color: rgb(11, 130, 130);
    color: white; 
    margin-top: 0px;
}
.btn{
    display: flex;
    justify-content: center;
   
}
button{
    border-radius: 15px;
}
.joke{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 10px;
    text-align: center;
}
.heading{
  text-align: center;
  text-decoration: underline;
}